@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
*{
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --overlay: #ff2870;
}
.showcase{
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 46, 46);
    color: #fff;
    z-index: 2;
}

.showcase header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.showcase.active{
    right: 300px;
}

.toggle{
    position: relative;
    width: 60px;
    height: 60px;
    background: url("../img/menu.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    cursor: pointer;

}
.logo{
    text-decoration: none;
    cursor: pointer;
}
.toggle.active{
    background: url("../img/menu.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    cursor: pointer;
}

.showcase video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}
.text{
    position: relative;
    z-index: 10;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:var(--overlay);
    mix-blend-mode: overlay;
}
.text h2{
    font-size: 5em;
    font-weight: 800;
    line-height: 1em;
    text-decoration: uppercase;
}

.text h3{
    font-size: 3em;
    font-weight: 700;
    line-height: 1em;
    text-decoration: uppercase;
}
.text p{
    font-size: 1.1em;
    margin: 20px 0;
    font-weight: 400;
    max-width: 700px;
}
.text a{
    display: inline-block;
    font-size: 1em;
    background: #fff;
    padding: 10px 20px;
    text-decoration: none;
    color: #111;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.3s;
}
.text a:hover{
    letter-spacing: 6px;
}

.menu{
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu ul{
    position: relative;
    list-style: none;
}

.menu ul li a{
    text-decoration: none;
    font-size: 24px;
    color: #111;
}

.menu ul li a:hover{
    color: var(--overlay);
}

@media(max-width:798px){
    .showcase,.showcase header{
        padding: 40px;
    }

    .text h2{
        font-size: 3em;
    }
    .text h3{
        font-size: 2em;
    }
}